<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>∩.∩</key>
	<array>
		<string>∩∩</string>
		<string>∩O∩</string>
		<string>∩^∩</string>
		<string>∩ε∩</string>
		<string>∩3∩</string>
		<string>∩ω∩</string>
		<string>∩﹏∩</string>
		<string>∩△∩</string>
		<string>∩▽∩</string>
		<string>≧≦</string>
		<string>≧0≦</string>
		<string>≧ε≦</string>
		<string>≧3≦</string>
		<string>≧ω≦</string>
		<string>≧﹏≦</string>
		<string>≧△≦</string>
		<string>≧▽≦</string>
		<string>∪∪</string>
		<string>∪0∪</string>
		<string>∪^∪</string>
		<string>∪ε∪</string>
		<string>∪3∪</string>
		<string>∪ω∪</string>
		<string>∪﹏∪</string>
		<string>∪△∪</string>
		<string>∪▽∪</string>
	</array>
	<key>^^</key>
	<array>
		<string>ˋˊ</string>
		<string>ˋ0ˊ</string>
		<string>ˋ^ˊ</string>
		<string>ˋεˊ</string>
		<string>ˋ3ˊ</string>
		<string>ˋωˊ</string>
		<string>ˋ﹏ˊ</string>
		<string>ˋ△ˊ</string>
		<string>ˋ▽ˊ</string>
		<string>ˇˇ</string>
		<string>ˇ0ˇ</string>
		<string>ˇ^ˇ</string>
		<string>ˇεˇ</string>
		<string>ˇ3ˇ</string>
		<string>ˇωˇ</string>
		<string>ˇ﹏ˇ</string>
		<string>ˇ△ˇ</string>
		<string>˙˙</string>
		<string>˙0˙</string>
		<string>˙^˙</string>
		<string>˙ε˙</string>
		<string>˙3˙</string>
		<string>˙ω˙</string>
		<string>˙﹏˙</string>
		<string>˙△˙</string>
		<string>˙▽˙</string>
		<string>╯╰</string>
		<string>╯0╰</string>
		<string>╯ε╰</string>
		<string>╯3╰</string>
		<string>╯ω╰</string>
		<string>╯﹏╰</string>
		<string>╯△╰</string>
		<string>╯▽╰</string>
		<string>￣￣</string>
		<string>￣0￣</string>
		<string>￣^￣</string>
		<string>￣ε￣</string>
		<string>￣3￣</string>
		<string>￣ω￣</string>
		<string>￣﹏￣</string>
		<string>￣△￣</string>
		<string>￣▽￣</string>
	</array>
	<key>●.●</key>
	<array>
		<string>●●</string>
		<string>●0●</string>
		<string>●^●</string>
		<string>●ε●</string>
		<string>●3●</string>
		<string>●ω●</string>
		<string>●﹏●</string>
		<string>●△●</string>
		<string>●▽●</string>
		<string>⊙⊙</string>
		<string>⊙0⊙</string>
		<string>⊙^⊙</string>
		<string>⊙3⊙</string>
		<string>⊙ω⊙</string>
		<string>⊙﹏⊙</string>
		<string>⊙△⊙</string>
		<string>⊙▽⊙</string>
		<string>++</string>
		<string>+0+</string>
		<string>+^+</string>
		<string>+ε+</string>
		<string>+3+</string>
		<string>+ω+</string>
		<string>+﹏+</string>
		<string>+△+</string>
		<string>+▽+</string>
	</array>
	<key>|^.^1|</key>
	<array>
		<string>˙▂˙</string>
		<string>˙０˙</string>
		<string>˙＾˙</string>
		<string>˙ω˙</string>
		<string>˙﹏˙</string>
		<string>˙△˙</string>
		<string>˙▽˙</string>
	</array>
	<key>|∪.∪2|</key>
	<array>
		<string>∪▂∪</string>
		<string>∪０∪</string>
		<string>∪＾∪</string>
		<string>∪ω∪</string>
		<string>∪﹏∪</string>
		<string>∪△∪</string>
		<string>∪▽∪</string>
	</array>
	<key>|^.^3|</key>
	<array>
		<string>˙▂˙</string>
		<string>˙０˙</string>
		<string>˙＾˙</string>
		<string>˙ω˙</string>
		<string>˙﹏˙</string>
		<string>˙△˙</string>
		<string>˙▽˙</string>
	</array>
	<key>|∪.∪4|</key>
	<array>
		<string>∪▂∪</string>
		<string>∪０∪</string>
		<string>∪＾∪</string>
		<string>∪ω∪</string>
		<string>∪﹏∪</string>
		<string>∪△∪</string>
		<string>∪▽∪</string>
	</array>
	<key>|^.^5|</key>
	<array>
		<string>˙▂˙</string>
		<string>˙０˙</string>
		<string>˙＾˙</string>
		<string>˙ω˙</string>
		<string>˙﹏˙</string>
		<string>˙△˙</string>
		<string>˙▽˙</string>
	</array>
	<key>|∪.∪6|</key>
	<array>
		<string>∪▂∪</string>
		<string>∪０∪</string>
		<string>∪＾∪</string>
		<string>∪ω∪</string>
		<string>∪﹏∪</string>
		<string>∪△∪</string>
		<string>∪▽∪</string>
	</array>
	<key>|^.^7|</key>
	<array>
		<string>˙▂˙</string>
		<string>˙０˙</string>
		<string>˙＾˙</string>
		<string>˙ω˙</string>
		<string>˙﹏˙</string>
		<string>˙△˙</string>
		<string>˙▽˙</string>
	</array>
	<key>|∪.∪8|</key>
	<array>
		<string>∪▂∪</string>
		<string>∪０∪</string>
		<string>∪＾∪</string>
		<string>∪ω∪</string>
		<string>∪﹏∪</string>
		<string>∪△∪</string>
		<string>∪▽∪</string>
	</array>
</dict>
</plist>
